/* App.css */
.tabs-container {
    // max-width: 600px; /* Example max-width for the tabs container */
    // margin: 0 0px; /* Centering the tabs container */
    background-color: #fff;
}

.tabs-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.tab-item {
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.tab-item.active {
    color: #000;
    border-bottom: 3px solid #e61d23;
}
.tab-item:hover {
    opacity: 0.5;
}
.tab-content {
    display: flex;
    flex-direction: column;
    background-color: #e7e7e7;
}
